.nav {
  padding-block: 2.5rem;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 48em) {
  .nav {
    padding: 3rem 2.5rem;
    justify-items: flex-start;
  }
}

@media screen and (min-width: 75em) {
  .nav {
    max-width: 70rem;
    padding-inline: 0;
    margin-inline: auto;
  }
}
